<strong>Hello, {{ deliveryman }}</strong>
<p>A new delivery has been canceled!</p>
<p>
  <span>See below more details:</span>
  <br />
  <strong>Delivery: </strong> nยบ{{ delivery_id }} cancelled
  <br />
  <strong>Product: </strong> {{ product }}
  <br />
  <strong>Reason: </strong> {{ problem_description }}
</p>
